<%- include('../partials/header') %>

<section id="show-page">
    <div>Recipe</div>
    <div>
        <%= recipe.title %>
    </div>
    <div>Description</div>
    <div>
        <%= recipe.description %>
    </div>
    <div>Difficulty Level</div>
    <div>
        <%= recipe.difficultyLevel %>
    </div>
    <div>Servings</div>
    <div>
        <%= recipe.servings %>
    </div>
    <div>Ingredient List</div>
    <div>
        <%= recipe.ingredientList %>
    </div>
    <div>Cooking Directions</div>
    <div>
        <%= recipe.directions %>
    </div>

</section>


<%- include('../partials/footer') %>