<%- include('../partials/header') %>

<section id="show-page">
    <div>Recipe</div>
    <div>
      <img class="recImg" src="<%= recipe.recImg %>">
    </div>
    <div>
        <%= recipe.title %>
    </div>
    <div>Description</div>
    <div>
        <%= recipe.description %>
    </div>
    <div>Difficulty Level</div>
    <div>
        <%= recipe.difficultyLevel %>
    </div>
    <div>Servings</div>
    <div>
        <%= recipe.servings %>
    </div>
    <div>Ingredient List</div>
    <div>
        <%= recipe.ingredientList %>
    </div>
    <div>Cooking Directions</div>
    <div>
        <%= recipe.directions %>
    </div>
</section>
<br><br>

<div>Reviews</div>
<% if (user) { %>
    <form id="add-review" method="POST" action="/recipes/<%= recipe._id %>/reviews">
        <label for="reviews">User Review</label><br>
        <textarea name="content" id="" cols="30" rows="10"></textarea><br><br>

        <label for="reviews">Rating</label>
        <select name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select><br><br>
         
          <input type="submit" value="Submit Review">
    </form>
<% } %>

    <% if (recipe.reviews.length) { %>
        <table>
            <thead>
                <tr>
                  <th>User</th>
                  <th>Date</th>
                  <th>Review</th>
                  <th>Rating</th>
                </tr>
              </thead>
              <tbody>
                  <% let total = 0 %>
                    <% recipe.reviews.forEach(function(u) {  %> 
                        <% total += u.rating %>
                         <tr>
                             <td class="user-review"><img src="<%= u.userAvatar %>" alt="avatar">
                                <%= u.userName %>
                            </td>
                            <td>
                                <%= u.createdAt.toLocaleDateString() %>
                            </td>
                            <td>
                                <%= u.content %>
                            </td>
                            <td>
                                <%= u.rating %>
                            </td>
                            <td>
                                <% if (user && user._id.equals(u.user)) { %>
                                    <form action="/reviews/<%= u._id %>?_method=DELETE" method="POST">
                                        <button type="submit"><i class="fa-solid fa-trash-can"></i></button>
                                    </form>
                                    <% } %>
                            </td>
                         </tr>
                          <% }) %>
                          <tr>
                              <td colspan="3"></td>
                              <td><strong>
                                  <%= (total / recipe.reviews.length).toFixed(1) %>
                              </strong></td>
                          </tr>
              </tbody>
        </table>
        <% } else { %>
            <h5>No Reviews</h5>
        <% } %>



<%- include('../partials/footer') %>